
html{
    background-color: #b1bae8;
}
#login{
    margin-top: 10%;
    max-height: 100vh;
    margin-left: 10rem;
}
#login-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#login .login-input, button{
    padding: 10px;
    font-size: 1.2rem;
    display: block;
    width: 20rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    box-shadow: 0px 1px 15px;
}

/* input fields container*/
#input-div{
    display: flex;
    flex-direction: column;
}

/* Login Button */
#login-button {
    background-color: #f8cbe7;
    color: white;
    font-weight: 700;
    transition:  all 0.5s;
}
#login-button:hover {
    background-color: #c49bb4;
    color:aliceblue;
    box-shadow: #c49bb4 0px 1px 15px;
}

/* Images */
#login-pencil{
    padding: 2rem;
}
#login-logo{
    padding-left: 1.5rem;
}

/* Register Container */
#register-container{
    display: flex;
}
/* Icon */
.material-symbols-outlined{
    margin-left: 1rem;
    color: aliceblue;
    margin-bottom: 10px;
}

/* Link tag with text */
#signup-link{
    text-align: left;
    font-weight: 700;
    padding-left:1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    margin-left: -1.5rem;
    color: aliceblue
}
#signup-link:active{
    color: #f8cbe7;
}

